# ========================================================
# MAC SYSTEM FILES
# ========================================================
.DS_Store

# ========================================================
# LOG FILES
# ========================================================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.*.json

# ========================================================
# RUNTIME DATA
# ========================================================
pids
*.pid
*.pid.lock

# Output of npm pack
*.tgz

# Optional caches
.npm
.eslintcache
.stylelintcache

.node_repl_history

# ========================================================
# DEPENDENCIES (DO NOT REMOVE)
# ========================================================
node_modules/
jspm_packages/
web_modules/

# ========================================================
# BUILD OUTPUT (DO NOT REMOVE)
# ========================================================
dist/
build/
.out/
.next/
.nuxt/
.svelte-kit/
.cache/
temp/
.docusaurus/
.parcel-cache/

# Vite cache
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# ========================================================
# COVERAGE
# ========================================================
coverage/
*.lcov
.nyc_output

# ========================================================
# SERVERLESS
# ========================================================
.serverless/

# ========================================================
# YARN v3
# ========================================================
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# ========================================================
# ENV FILES
# ========================================================
# Only ignore system-local env overrides:
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# ========================================================
# FRONTEND & CMS BUILDS
# ========================================================
.vuepress/dist
**/.vitepress/dist
**/.vitepress/cache
